@import '../App.scss';

.About {
  footer {
    position: fixed;
    background-color: rgba(33, 37, 41, 0.3);
    height: 60px;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      font-size: 3rem;
      margin-right: 10px;

      &:hover {
        color: white;
      }
    }
  }
}
